/* Basic font-size and family. */
html {
	font-family: sans-serif;
	font-size: 12px;
	width: 100%; height: 100%;
}

body {
	margin: 0; padding: 0;
}

/* The whoppping map in the centre */
#map_canvas { width: 100%; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; }

#prediction-running {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	display: none;
}

#prediction-message {
	position: relative;
	background-color: white;
	margin: auto;
	top: 33%;
	width: 50%;
	padding: 1em;
	padding-bottom: 0.2em;
	text-align: center;
	font-weight: bold;
}

#prediction-throbber {
	width: 32px;
	height: 32px;
	margin: auto;
	background-image: url('../images/throbber.gif');
	background-repeat: no-repeat;
	background-position: center;
}

#new_prediction { 
	position: relative; 
	overflow: hidden;
	width: 35em;
}

#scenario_table { 
	width: 100%; 
}

#toolbox { 
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0.1em;
	padding-left: 0em;
}

#toolbox a {
	display: block;
	margin: 0.1em;
	padding: 0.3em;
	text-decoration: none;
}

.ui-header {
	padding: 0.3em;
	text-align: center;
	display: none;
}

td.field-value {
	text-align: right;
}
